[default]
# specify a port (and optionally a hostname)
serve-address = :80

# when true, ssl-cert and ssl-key must be files
use-ssl = false
ssl-cert = server.crt
ssl-key = server.key

# prefix added to all feeds
path-prefix = /feed

# optionally specify a user-agent to be used for requests
#user-agent = Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0

# feed can be reached at /feed/giantbombcast-premium
[giantbombcast-premium]
feed = http://www.giantbomb.com/podcast-xml/premiumbombcast/
username = redacted
password = redacted

# feed can be reached at /feed/giantbomb-videos-hd
[giantbomb-videos-hd]
feed = http://www.giantbomb.com/videos/feed/hd/
username = redacted
password = redacted

# optionally, you may filter the items that will be proxied
# in this example, any items whose "guid" tag matches the regex will be excluded
# "filter-include" is the other valid config directive that may be used with filter-field
# see https://github.com/google/re2/wiki/Syntax for details on the regex syntax avilable
filter-field = Guid
filter-exclude = http://.*/(\d+/){3}tr_

# optionally, you may specify a user-agent - it will override the one specified above
#user-agent = Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36

[giantbomb-danswers]
feed = http://www.giantbomb.com/podcast-xml/premium/
username = redacted
password = redacted
# Another example of feed filtering, this time only items matching the filter will be in the resulting feed
filter-field = Title
filter-include = ^Danswers
